.inc-logo {
    font-size: 2rem;
    letter-spacing: .03rem;
    color: #7D3C98;
    cursor: pointer;
}

.inc-services-btn {
    letter-spacing: .03rem;
    padding: 0.7rem 2.5rem;
    background: #7D3C98;
    font-weight: bold;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inc-header-links {
    color: #7D3C98;
    font-weight: bold;
    padding: 0 3rem;
    cursor: pointer;
}

.inc-header-links>a>li::after{
    display: flex;
    content: '';
    width: 0;
    transition: .3s;
    height: 1px;
    background: #7D3C98;
}

.inc-header-links>a:hover>li::after {
    width: 50%;
}

.inc-index-main {
    background: url("../images/incredibles2.svg") white;
    background-position-x: -20rem;
    background-repeat: no-repeat;
}

.inc-bottom-icons {
    font-size: 2rem !important;
    margin: 0 0.5rem;
    padding: 0.4rem;
    border-radius: 1.3rem;
    margin-top: 1rem;
    transition: .3s !important;
    color: black;
    background: white;
    cursor: pointer;
}

.inc-bottom-icons:hover {
    color: #7D3C98;
    background: transparent;
    padding: 0;
}

.inc-hero-text {
    width: 80%;
    margin-right: 1rem;
}

.inc-hero-text>b {
    font-size: 2rem;
}

.inc-hero-text>p {
    margin: 1rem 1rem;
}

.inc-hero-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inc-hero-services>div {
    display: flex;
}

.inc-hero-services>div:first-child {
    margin-left: 8rem;
}

.inc-hero-services>div>span {
    display: flex;
    width: 9rem;
    height: 6rem;
    /* background: rgba(0, 0, 0, 0.8); */
    border-color: black;
    /* border-width: .2rem; */
    border-style: solid;
    border-radius: .3rem;
    margin: .5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inc-win1 {
    background: url("../images/win1.svg");
}

.inc-win2 {
    background: url("../images/win2.svg");
}

.inc-win3 {
    background: url("../images/win3.svg");
}

.inc-win4 {
    background: url("../images/win4.svg");
}

.inc-win5 {
    background: url("../images/win5.svg");
}

.inc-win6 {
    background: url("../images/win6.svg");
}

.inc-win7 {
    background: url("../images/win7.svg");
}
